## data cleaning part-I
Data Cleaning and Preperation: required to remove anomalies/outlier unwanted data and to get data in proper format so that furher processing could be done to get knowledge**
Data Preperation include:


*   Data Cleaning
*   Data Transformation


*   Data loading and rearranging

In [1]:
import pandas as pd 
import numpy as np

### in colab use DF=pd.read_csv('/content/weather.csv',na_values=np.nan)

In [2]:
DF=pd.read_csv('weather.csv',na_values=np.nan)
DF

   Season   Weather  Tourist Labels
0  Summer  Pleasant     like    Yes
1  Summer       Hot  dislike    Yes
2  Summer  Pleasant     like    Yes
3  winter     Harsh     like    Yes
4  winter  Pleasant     like     No
5  autumn       Dry  dislike    Yes
6  autumn  Pleasant  dislike    Yes
7  autumn     Harsh      NaN     No
8  Spring  Pleasant     like    NaN

## assigning Null/Na values

In [3]:
DF.iloc[3]=None

## checking for NULL values in Series and Data Frame

In [4]:
DF

   Season   Weather  Tourist Labels
0  Summer  Pleasant     like    Yes
1  Summer       Hot  dislike    Yes
2  Summer  Pleasant     like    Yes
3    None      None     None   None
4  winter  Pleasant     like     No
5  autumn       Dry  dislike    Yes
6  autumn  Pleasant  dislike    Yes
7  autumn     Harsh      NaN     No
8  Spring  Pleasant     like    NaN

In [5]:
DF.isnull()

   Season  Weather  Tourist  Labels
0   False    False    False   False
1   False    False    False   False
2   False    False    False   False
3    True     True     True    True
4   False    False    False   False
5   False    False    False   False
6   False    False    False   False
7   False    False     True   False
8   False    False    False    True

In [6]:
DF

   Season   Weather  Tourist Labels
0  Summer  Pleasant     like    Yes
1  Summer       Hot  dislike    Yes
2  Summer  Pleasant     like    Yes
3    None      None     None   None
4  winter  Pleasant     like     No
5  autumn       Dry  dislike    Yes
6  autumn  Pleasant  dislike    Yes
7  autumn     Harsh      NaN     No
8  Spring  Pleasant     like    NaN

In [6]:
DF.notnull()

   Season  Weather  Tourist  Labels
0    True     True     True    True
1    True     True     True    True
2    True     True     True    True
3   False    False    False   False
4    True     True     True    True
5    True     True     True    True
6    True     True     True    True
7    True     True    False    True
8    True     True     True   False

## count NULL values in Series and each column in Data Frame

In [16]:
DF.isna()

   Season  Weather  Tourist  Labels
0   False    False    False   False
1   False    False    False   False
2   False    False    False   False
3    True     True     True    True
4   False    False    False   False
5   False    False    False   False
6   False    False    False   False
7   False    False     True   False
8   False    False    False    True

In [7]:
DF.count()

Season     8
Weather    8
Tourist    7
Labels     7
dtype: int64

In [9]:
DF.isna().count()

Season     9
Weather    9
Tourist    9
Labels     9
dtype: int64

## retrieving not null values only

In [28]:
DF

   Season   Weather  Tourist Labels
0  Summer  Pleasant     like    Yes
1  Summer       Hot  dislike    Yes
2  Summer  Pleasant     like    Yes
3    None      None     None   None
4  winter  Pleasant     like     No
5  autumn       Dry  dislike    Yes
6  autumn  Pleasant  dislike    Yes
7  autumn     Harsh      NaN     No
8  Spring  Pleasant     like    NaN

## find if  a column has a null values

In [10]:

DF.count()!=len(DF)

Season     True
Weather    True
Tourist    True
Labels     True
dtype: bool

In [48]:
DF.isnull().sum()

Season     1
Weather    1
Tourist    2
Labels     2
dtype: int64

## dropping rows with atleast one NA

In [11]:
cleaned = DF.dropna()

In [12]:
DF

   Season   Weather  Tourist Labels
0  Summer  Pleasant     like    Yes
1  Summer       Hot  dislike    Yes
2  Summer  Pleasant     like    Yes
3    None      None     None   None
4  winter  Pleasant     like     No
5  autumn       Dry  dislike    Yes
6  autumn  Pleasant  dislike    Yes
7  autumn     Harsh      NaN     No
8  Spring  Pleasant     like    NaN

In [13]:
cleaned

   Season   Weather  Tourist Labels
0  Summer  Pleasant     like    Yes
1  Summer       Hot  dislike    Yes
2  Summer  Pleasant     like    Yes
4  winter  Pleasant     like     No
5  autumn       Dry  dislike    Yes
6  autumn  Pleasant  dislike    Yes

In [15]:
DF['extra']=np.nan
DF

   Season   Weather  Tourist Labels  extra
0  Summer  Pleasant     like    Yes    NaN
1  Summer       Hot  dislike    Yes    NaN
2  Summer  Pleasant     like    Yes    NaN
3    None      None     None   None    NaN
4  winter  Pleasant     like     No    NaN
5  autumn       Dry  dislike    Yes    NaN
6  autumn  Pleasant  dislike    Yes    NaN
7  autumn     Harsh      NaN     No    NaN
8  Spring  Pleasant     like    NaN    NaN

In [ ]:
len(DF)

9

In [16]:
DF['newcol1']= np.arange(1,len(DF)+1,1)

In [57]:
DF

   Season   Weather  Tourist Labels  extra  newcol1
0  Summer  Pleasant     like    Yes    NaN        1
1  Summer       Hot  dislike    Yes    NaN        2
2  Summer  Pleasant     like    Yes    NaN        3
3    None      None     None   None    NaN        4
4  winter  Pleasant     like     No    NaN        5
5  autumn       Dry  dislike    Yes    NaN        6
6  autumn  Pleasant  dislike    Yes    NaN        7
7  autumn     Harsh      NaN     No    NaN        8
8  Spring  Pleasant     like    NaN    NaN        9

### Find the output?

In [17]:
DF['cost']=DF['Season'].map(lambda x: 100 if x =='Summer' else (150 if x=='winter' else 200 ))

In [18]:
DF

   Season   Weather  Tourist Labels  extra  newcol1  cost
0  Summer  Pleasant     like    Yes    NaN        1   100
1  Summer       Hot  dislike    Yes    NaN        2   100
2  Summer  Pleasant     like    Yes    NaN        3   100
3    None      None     None   None    NaN        4   200
4  winter  Pleasant     like     No    NaN        5   150
5  autumn       Dry  dislike    Yes    NaN        6   200
6  autumn  Pleasant  dislike    Yes    NaN        7   200
7  autumn     Harsh      NaN     No    NaN        8   200
8  Spring  Pleasant     like    NaN    NaN        9   200

In [19]:
DF.drop(axis=1,labels=['newcol1'],inplace=True)

In [20]:
DF

   Season   Weather  Tourist Labels  extra  cost
0  Summer  Pleasant     like    Yes    NaN   100
1  Summer       Hot  dislike    Yes    NaN   100
2  Summer  Pleasant     like    Yes    NaN   100
3    None      None     None   None    NaN   200
4  winter  Pleasant     like     No    NaN   150
5  autumn       Dry  dislike    Yes    NaN   200
6  autumn  Pleasant  dislike    Yes    NaN   200
7  autumn     Harsh      NaN     No    NaN   200
8  Spring  Pleasant     like    NaN    NaN   200

## dropping row/column on the basis of all NA or any NA values, no in-place change in data frame

In [21]:
DF.dropna(axis=1,how='all')

   Season   Weather  Tourist Labels  cost
0  Summer  Pleasant     like    Yes   100
1  Summer       Hot  dislike    Yes   100
2  Summer  Pleasant     like    Yes   100
3    None      None     None   None   200
4  winter  Pleasant     like     No   150
5  autumn       Dry  dislike    Yes   200
6  autumn  Pleasant  dislike    Yes   200
7  autumn     Harsh      NaN     No   200
8  Spring  Pleasant     like    NaN   200

## Drop na values and keep rows/columns iff there are  valid values as specified in threshold

In [22]:
DF

   Season   Weather  Tourist Labels  extra  cost
0  Summer  Pleasant     like    Yes    NaN   100
1  Summer       Hot  dislike    Yes    NaN   100
2  Summer  Pleasant     like    Yes    NaN   100
3    None      None     None   None    NaN   200
4  winter  Pleasant     like     No    NaN   150
5  autumn       Dry  dislike    Yes    NaN   200
6  autumn  Pleasant  dislike    Yes    NaN   200
7  autumn     Harsh      NaN     No    NaN   200
8  Spring  Pleasant     like    NaN    NaN   200

In [23]:
DF1=DF.copy()

In [24]:
DF1.dropna(axis=1,thresh=8,inplace=True)

In [25]:
DF1

   Season   Weather  cost
0  Summer  Pleasant   100
1  Summer       Hot   100
2  Summer  Pleasant   100
3    None      None   200
4  winter  Pleasant   150
5  autumn       Dry   200
6  autumn  Pleasant   200
7  autumn     Harsh   200
8  Spring  Pleasant   200

## Filling In Missing Data with user specified data

### filled with zero in all columns

In [26]:
DF.fillna(0)

   Season   Weather  Tourist Labels  extra  cost
0  Summer  Pleasant     like    Yes    0.0   100
1  Summer       Hot  dislike    Yes    0.0   100
2  Summer  Pleasant     like    Yes    0.0   100
3       0         0        0      0    0.0   200
4  winter  Pleasant     like     No    0.0   150
5  autumn       Dry  dislike    Yes    0.0   200
6  autumn  Pleasant  dislike    Yes    0.0   200
7  autumn     Harsh        0     No    0.0   200
8  Spring  Pleasant     like      0    0.0   200

### filled na with specified values in specific columns

In [27]:
DF.fillna({'Tourist':'like'})

   Season   Weather  Tourist Labels  extra  cost
0  Summer  Pleasant     like    Yes    NaN   100
1  Summer       Hot  dislike    Yes    NaN   100
2  Summer  Pleasant     like    Yes    NaN   100
3    None      None     like   None    NaN   200
4  winter  Pleasant     like     No    NaN   150
5  autumn       Dry  dislike    Yes    NaN   200
6  autumn  Pleasant  dislike    Yes    NaN   200
7  autumn     Harsh     like     No    NaN   200
8  Spring  Pleasant     like    NaN    NaN   200

In [28]:
DF.fillna({'Tourist':'like','extra':100})

   Season   Weather  Tourist Labels  extra  cost
0  Summer  Pleasant     like    Yes  100.0   100
1  Summer       Hot  dislike    Yes  100.0   100
2  Summer  Pleasant     like    Yes  100.0   100
3    None      None     like   None  100.0   200
4  winter  Pleasant     like     No  100.0   150
5  autumn       Dry  dislike    Yes  100.0   200
6  autumn  Pleasant  dislike    Yes  100.0   200
7  autumn     Harsh     like     No  100.0   200
8  Spring  Pleasant     like    NaN  100.0   200

## fillna() with ffill()/bfill() method 
### adding a new column of numeric value

In [29]:
DF['numcol']=np.arange(len(DF))
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes    NaN   100       0
1  Summer       Hot  dislike    Yes    NaN   100       1
2  Summer  Pleasant     like    Yes    NaN   100       2
3    None      None     None   None    NaN   200       3
4  winter  Pleasant     like     No    NaN   150       4
5  autumn       Dry  dislike    Yes    NaN   200       5
6  autumn  Pleasant  dislike    Yes    NaN   200       6
7  autumn     Harsh      NaN     No    NaN   200       7
8  Spring  Pleasant     like    NaN    NaN   200       8

In [30]:
DF.loc[4,'numcol']=None
DF.loc[6,'numcol']=None
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes    NaN   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN    NaN   200     8.0

In [31]:
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes    NaN   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN    NaN   200     8.0

In [32]:
DF.fillna(method='ffill')

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes    NaN   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3  Summer  Pleasant     like    Yes    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     3.0
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     5.0
7  autumn     Harsh  dislike     No    NaN   200     7.0
8  Spring  Pleasant     like     No    NaN   200     8.0

### ffill() for fixed threshold

In [33]:
DF.loc[0,'extra']=10

In [34]:
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN    NaN   200     8.0

In [35]:
DF.fillna(method='ffill',limit=2)

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes   10.0   100     1.0
2  Summer  Pleasant     like    Yes   10.0   100     2.0
3  Summer  Pleasant     like    Yes    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     3.0
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     5.0
7  autumn     Harsh  dislike     No    NaN   200     7.0
8  Spring  Pleasant     like     No    NaN   200     8.0

In [36]:
DF.loc[len(DF)-1,'extra']=50

In [37]:
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

In [38]:
DF.fillna(method='bfill',limit=2)

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3  winter  Pleasant     like     No    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     5.0
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes   50.0   200     7.0
7  autumn     Harsh     like     No   50.0   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

In [39]:
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

### replace numeric column'na values with mean() in fillna()

In [40]:
DF.fillna(DF.mean())

   Season   Weather  Tourist Labels  extra  cost    numcol
0  Summer  Pleasant     like    Yes   10.0   100  0.000000
1  Summer       Hot  dislike    Yes   30.0   100  1.000000
2  Summer  Pleasant     like    Yes   30.0   100  2.000000
3    None      None     None   None   30.0   200  3.000000
4  winter  Pleasant     like     No   30.0   150  3.714286
5  autumn       Dry  dislike    Yes   30.0   200  5.000000
6  autumn  Pleasant  dislike    Yes   30.0   200  3.714286
7  autumn     Harsh      NaN     No   30.0   200  7.000000
8  Spring  Pleasant     like    NaN   50.0   200  8.000000

## count frequency of the specified column

In [96]:
DF['Season'].value_counts()

Summer    3
autumn    3
winter    1
Spring    1
Name: Season, dtype: int64

In [ ]:
DF

   Season   Weather  Tourist Labels  extra  numcol
0  Summer  Pleasant      NaN   None   10.0     0.0
1  Summer       Hot  dislike    Yes    NaN     1.0
2  Summer  Pleasant     like    Yes    NaN     2.0
3  winter     Harsh     like    Yes    NaN     3.0
4  winter  Pleasant     like     No    NaN     NaN
5  autumn       Dry  dislike    Yes    NaN     5.0
6  autumn  Pleasant  dislike    Yes    NaN     NaN
7  autumn     Harsh      NaN     No    NaN     7.0
8  Spring  Pleasant     like    NaN    NaN     8.0

# find the output?

In [42]:
S=DF['Season'].value_counts()
DF['Season'].fillna(S.idxmax())

0    Summer
1    Summer
2    Summer
3    Summer
4    winter
5    autumn
6    autumn
7    autumn
8    Spring
Name: Season, dtype: object

In [43]:
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

In [44]:
DF[['Season','Weather']].value_counts()

Season  Weather
Summer  Pleasant    2
Spring  Pleasant    1
Summer  Hot         1
autumn  Dry         1
        Harsh       1
        Pleasant    1
winter  Pleasant    1
dtype: int64

## Problem: replace null value in each column with value appearing maximum time and store in new DF
Hint: First count frequency of values in each column

In [45]:
DS=pd.DataFrame()
for i in DF.columns:
  val=DF[i].value_counts().idxmax()
  DS[i]=DF[i].fillna(val,inplace=False)

In [46]:
DS

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes   50.0   100     1.0
2  Summer  Pleasant     like    Yes   50.0   100     2.0
3  Summer  Pleasant     like    Yes   50.0   200     3.0
4  winter  Pleasant     like     No   50.0   150     0.0
5  autumn       Dry  dislike    Yes   50.0   200     5.0
6  autumn  Pleasant  dislike    Yes   50.0   200     0.0
7  autumn     Harsh     like     No   50.0   200     7.0
8  Spring  Pleasant     like    Yes   50.0   200     8.0

# data Transformation
Removing duplicate rows

In [47]:
DF.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [48]:
DF=DF.append(DF.iloc[len(DF)-1])

In [49]:
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

In [50]:
DF.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
8     True
dtype: bool

In [51]:
DF.drop_duplicates(inplace=True)
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

In [52]:
DF

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

In [53]:
DF.drop_duplicates(['Labels'], keep='last')

   Season   Weather  Tourist Labels  extra  cost  numcol
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

In [110]:
DF.drop_duplicates(['Labels'], keep='first')

   Season   Weather Tourist Labels  extra  numcol
0  Summer  Pleasant    like    Yes   10.0     0.0
3    None      None    None   None    NaN     3.0
4  winter  Pleasant    like     No    NaN     NaN

In [54]:
DF.drop_duplicates(['Labels','numcol'], keep='first')

   Season   Weather  Tourist Labels  extra  cost  numcol
0  Summer  Pleasant     like    Yes   10.0   100     0.0
1  Summer       Hot  dislike    Yes    NaN   100     1.0
2  Summer  Pleasant     like    Yes    NaN   100     2.0
3    None      None     None   None    NaN   200     3.0
4  winter  Pleasant     like     No    NaN   150     NaN
5  autumn       Dry  dislike    Yes    NaN   200     5.0
6  autumn  Pleasant  dislike    Yes    NaN   200     NaN
7  autumn     Harsh      NaN     No    NaN   200     7.0
8  Spring  Pleasant     like    NaN   50.0   200     8.0

## Transformation using function mapping

Changing/adding a new column using transoformation

## problem: Assign rainlabels in Dataframe according to season type using data dictionary dict1

In [55]:
DF.fillna(method='ffill',inplace=True)

In [57]:
dict1={'SUMMER':'rain','AUTUMN':'Norain','SPRING':'rain','WINTER':'Norain'}

In [58]:
DF['Season'].map(lambda x: dict1[x.upper()])

0      rain
1      rain
2      rain
3      rain
4    Norain
5    Norain
6    Norain
7    Norain
8      rain
Name: Season, dtype: object

In [59]:
UpSeason = DF['Season'].str.upper()
UpSeason 
DF['Labels'] = UpSeason.map(dict1)
DF

   Season   Weather  Tourist  Labels  extra  cost  numcol
0  Summer  Pleasant     like    rain   10.0   100     0.0
1  Summer       Hot  dislike    rain   10.0   100     1.0
2  Summer  Pleasant     like    rain   10.0   100     2.0
3  Summer  Pleasant     like    rain   10.0   200     3.0
4  winter  Pleasant     like  Norain   10.0   150     3.0
5  autumn       Dry  dislike  Norain   10.0   200     5.0
6  autumn  Pleasant  dislike  Norain   10.0   200     5.0
7  autumn     Harsh  dislike  Norain   10.0   200     7.0
8  Spring  Pleasant     like    rain   50.0   200     8.0

### find output?

In [60]:
UpSeason = DF['Season'].str.upper()
DF['Labels'] = UpSeason.map(dict1).str.title()
DF

   Season   Weather  Tourist  Labels  extra  cost  numcol
0  Summer  Pleasant     like    Rain   10.0   100     0.0
1  Summer       Hot  dislike    Rain   10.0   100     1.0
2  Summer  Pleasant     like    Rain   10.0   100     2.0
3  Summer  Pleasant     like    Rain   10.0   200     3.0
4  winter  Pleasant     like  Norain   10.0   150     3.0
5  autumn       Dry  dislike  Norain   10.0   200     5.0
6  autumn  Pleasant  dislike  Norain   10.0   200     5.0
7  autumn     Harsh  dislike  Norain   10.0   200     7.0
8  Spring  Pleasant     like    Rain   50.0   200     8.0

##  values  using replace()

In [121]:
DF

   Season   Weather  Tourist  Labels  extra  numcol
0  Summer  Pleasant     like    rain   10.0     0.0
1  Summer       Hot  dislike    rain   10.0     1.0
2  Summer  Pleasant     like    rain   10.0     2.0
3  Summer  Pleasant     like    rain   10.0     3.0
4  winter  Pleasant     like  Norain   10.0     3.0
5  autumn       Dry  dislike  Norain   10.0     5.0
6  autumn  Pleasant  dislike  Norain   10.0     5.0
7  autumn     Harsh  dislike  Norain   10.0     7.0
8  Spring  Pleasant     like    rain   50.0     8.0

In [61]:
DF.replace('Harsh', np.nan)

   Season   Weather  Tourist  Labels  extra  cost  numcol
0  Summer  Pleasant     like    Rain   10.0   100     0.0
1  Summer       Hot  dislike    Rain   10.0   100     1.0
2  Summer  Pleasant     like    Rain   10.0   100     2.0
3  Summer  Pleasant     like    Rain   10.0   200     3.0
4  winter  Pleasant     like  Norain   10.0   150     3.0
5  autumn       Dry  dislike  Norain   10.0   200     5.0
6  autumn  Pleasant  dislike  Norain   10.0   200     5.0
7  autumn       NaN  dislike  Norain   10.0   200     7.0
8  Spring  Pleasant     like    Rain   50.0   200     8.0

In [62]:
DF.replace(['Harsh','Dry'], [np.nan,'Wet'])

   Season   Weather  Tourist  Labels  extra  cost  numcol
0  Summer  Pleasant     like    Rain   10.0   100     0.0
1  Summer       Hot  dislike    Rain   10.0   100     1.0
2  Summer  Pleasant     like    Rain   10.0   100     2.0
3  Summer  Pleasant     like    Rain   10.0   200     3.0
4  winter  Pleasant     like  Norain   10.0   150     3.0
5  autumn       Wet  dislike  Norain   10.0   200     5.0
6  autumn  Pleasant  dislike  Norain   10.0   200     5.0
7  autumn       NaN  dislike  Norain   10.0   200     7.0
8  Spring  Pleasant     like    Rain   50.0   200     8.0

### using dictionary, set replace values

In [123]:
DF.replace({'Harsh': np.nan,'Dry':'Wet'})

   Season   Weather  Tourist  Labels  extra  numcol
0  Summer  Pleasant     like    rain   10.0     0.0
1  Summer       Hot  dislike    rain   10.0     1.0
2  Summer  Pleasant     like    rain   10.0     2.0
3  Summer  Pleasant     like    rain   10.0     3.0
4  winter  Pleasant     like  Norain   10.0     3.0
5  autumn       Wet  dislike  Norain   10.0     5.0
6  autumn  Pleasant  dislike  Norain   10.0     5.0
7  autumn       NaN  dislike  Norain   10.0     7.0
8  Spring  Pleasant     like    rain   50.0     8.0

In [63]:
DF['extra'].replace(range(10,20),100)

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
5    100.0
6    100.0
7    100.0
8     50.0
Name: extra, dtype: float64

## string functions()

In [64]:
DF.set_index('Season')

         Weather  Tourist  Labels  extra  cost  numcol
Season
Summer  Pleasant     like    Rain   10.0   100     0.0
Summer       Hot  dislike    Rain   10.0   100     1.0
Summer  Pleasant     like    Rain   10.0   100     2.0
Summer  Pleasant     like    Rain   10.0   200     3.0
winter  Pleasant     like  Norain   10.0   150     3.0
autumn       Dry  dislike  Norain   10.0   200     5.0
autumn  Pleasant  dislike  Norain   10.0   200     5.0
autumn     Harsh  dislike  Norain   10.0   200     7.0
Spring  Pleasant     like    Rain   50.0   200     8.0

In [66]:
DF

   Season   Weather  Tourist  Labels  extra  cost  numcol
0  Summer  Pleasant     like    Rain   10.0   100     0.0
1  Summer       Hot  dislike    Rain   10.0   100     1.0
2  Summer  Pleasant     like    Rain   10.0   100     2.0
3  Summer  Pleasant     like    Rain   10.0   200     3.0
4  winter  Pleasant     like  Norain   10.0   150     3.0
5  autumn       Dry  dislike  Norain   10.0   200     5.0
6  autumn  Pleasant  dislike  Norain   10.0   200     5.0
7  autumn     Harsh  dislike  Norain   10.0   200     7.0
8  Spring  Pleasant     like    Rain   50.0   200     8.0

In [65]:
DF.rename(index=str.title, columns=str.upper)

TypeError: descriptor 'title' for 'str' objects doesn't apply to a 'int' object

## What is the output?

In [124]:
DF['Season'].unique()

array(['Summer', 'winter', 'autumn', 'Spring'], dtype=object)

In [67]:
DF['Season'].nunique()

4

## Problem : Drop rows with more than half null values. For rest of rows
## replace na values with mean of that column in case of numeric col,  and replace by value appearing maximum times in that column for non-numeric column